html{
  --main :#fff9f9;
  --scnd:#ebe7df;
  --third:#91887d;
  --fourth:#C7B198;
}
main a{
  display: block;
}
body{
  background-color: var(--main);
  color:var(--third);
  font-weight: bold;
}
a{
  text-decoration: none;
}

header div:first-of-type{
    height: 15vw;
    background-color: var(--scnd);
}
.project{
  background-color: var(--scnd);
  width:48% !important;
}

/*Anim underline*/
.underline {
    text-decoration: none;
    position: relative;
  }
.underline:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 4px;
    background: var(--third);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-in-out;
  }
.underline:hover:before {
    transform: scaleX(1);
  }
/****/

/*Arrow on hover*/
.arrow {
  position: absolute;}
.segunda{
  margin-left: 15px;}
.next {
color:var(--third);}

@keyframes bounceAlpha {
0% {opacity: 1; transform: translateX(0px) scale(1);}
25%{opacity: 0; transform:translateX(10px) scale(0.8);}
26%{opacity: 0; transform:translateX(-10px) scale(0.8);}
55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.project:hover .arrow{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
.project:hover .arrow.primera{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
/**/
.descsite{
  text-align: justify;
}