html{
  --main :#fff9f9;
  --scnd:#ebe7df;
  --third:#91887d;
  --fourth:#C7B198;
}
body{
  background-color: var(--main);
  color:var(--third);
  font-weight: bold;
}
a{
  text-decoration: none;
}

header div:first-of-type{
    height: 15vw;
    background-color: var(--scnd);
}
.project{
  background-color: var(--scnd);
  width:48% !important;
}

/*Anim underline*/
.underline {
    text-decoration: none;
    position: relative;
  }
.underline:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 4px;
    background: var(--third);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-in-out;
  }
.underline:hover:before {
    transform: scaleX(1);
  }
/****/