html{
  --main :#fff9f9;
  --scnd:#ebe7df;
  --third:#6b728ebd;
  --fourth:#C7B198;
}
main a{
  display: block;
}
a,a:hover{
  color: var(--scnd);
}
body{
/*background anim*/
  -webkit-animation: color-change-4x 3.3s linear infinite alternate both;
          animation: color-change-4x 3.3s linear infinite alternate both;
/**/
  color:var(--third);
  font-weight: bold;
}
nav, nav a,nav a:hover{
  color:var(--scnd);
  text-decoration: none;
}
.realisation{
  color:var(--scnd)
}
footer{
  color:var(--scnd);
}

/*bg anim*/
 @-webkit-keyframes color-change-4x {
  0% {
    background: #282938;
  }
  33% {
    background: #505770;
  }
  66% {
    background: #4b537c;
  }
  100% {
    background: #7a829e;
  }
}
@keyframes color-change-4x {
  0% {
    background: #404258;
  }
  33% {
    background: #474E68;
  }
  66% {
    background: #50577A;
  }
  100% {
    background: #6B728E;
  }
}
/**/
a{
  text-decoration: none;
}
header div:first-of-type{
    height: 15vw;
    background-color: var(--scnd);
}
.project{
  background-color: var(--scnd);
  width:48% !important;
}
.project h2{
  font-weight: bold;
    color: #818496;
}
/*Anim underline*/
.underline {
    text-decoration: none;
    position: relative;
  }
.underline:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0; 
    right: 0;
    height: 4px; 
    background: var(--scnd); 
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-in-out;
  }
.underline:hover:before {
    transform: scaleX(1);
  }
/****/
/*Arrow on hover*/
.arrow {
  position: absolute;}
.segunda{
  margin-left: 15px;}
.next {
color:var(--third);}

@keyframes bounceAlpha {
0% {opacity: 1; transform: translateX(0px) scale(1);}
25%{opacity: 0; transform:translateX(10px) scale(0.8);}
26%{opacity: 0; transform:translateX(-10px) scale(0.8);}
55% {opacity: 1; transform: translateX(0px) scale(1);}
}
.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
.arrow.primera.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.project:hover .arrow{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
.project:hover .arrow.primera{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
/**/
.descsite{
  text-align: justify;
}
/*BOX SAHDOW*/
.boxshadow{
  box-shadow: rgba(255, 255, 255, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
/**/
/*box anim*/
.scale-down-center:hover {
	-webkit-animation: scale-down-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
	        animation: scale-down-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}
 @-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
}
/**/
/*On load anim*/
.tilt-in-fwd-tl {
	-webkit-animation: tilt-in-fwd-tl 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940)  both;
	        animation: tilt-in-fwd-tl 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
 @-webkit-keyframes tilt-in-fwd-tl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
            transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-tl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
            transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
.tilt-in-fwd-br {
	-webkit-animation: tilt-in-fwd-br 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-fwd-br 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
@-webkit-keyframes tilt-in-fwd-br {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
            transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-br {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
            transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
.slide-in-right {
	-webkit-animation: slide-in-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
/*Social network on the side*/
#sidelink{
  position: absolute;
  z-index:1;
  top: 35%;
  width: 6vw;
}
#sidelink a{
  color:white;
  height: 4vw;
  width: 80%;
  transition: width 0.25s;
}
#sidelink a:hover{
  width: 110%;
}
/**/
input{
  height: 3.5vw;
}
textarea{
  height: 14vw;
}
.contact{
  color: var(--scnd);
}
/* Anim contact */
.fade-in-fwd {
	-webkit-animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
/*forms style*/
.formstyle{
  padding-left: 1.5em;
  border: none;
  border-radius: 8px;
}
/*form anim on focus*/
.formfocus {
  outline: none;
  --border-size: 3px;
  background-image: conic-gradient(from var(--border-angle), #ffffff, #ffffff), conic-gradient(from var(--border-angle), transparent 20%, #636986, #464C65);
  background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)), cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: bg-spin 3s linear infinite;
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
 }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
/**/
.moreinfo{
  color: white;
}
footer{
  margin-bottom: 2vw;
}